<h2>New book</h2>
<%= form_with model: book, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title, class: "form-control book-title" %>
  <p>Opinion</p>
  <%= f.text_area :body, class: "form-control book-body" %><br>
  <%= f.submit('Create Book', class: "btn btn-success") %>
<% end %>