<h1>welcome to Bookers !!</h1>

<p>In Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!
</p>

 <li><%= link_to "Signup", new_user_registration_path %></li>
 <li><%= link_to "Login", new_user_session_path %></li>